In [50]:
import pandas as pd
import numpy as np

In [51]:
np.random.seed(88)
df = pd.DataFrame({'A': np.linspace(1,10,100)})
df = pd.concat([df,pd.DataFrame(np.random.randn(10,4), columns=list('BCDE'))],axis=1)

df.iloc[3,3] = np.nan
df.iloc[0,2] = np.nan

In [52]:
print(df)

            A         B         C         D         E
0    1.000000  0.106884       NaN  0.956563  0.068411
1    1.090909  1.068514  0.997183 -0.931548  0.730430
2    1.181818 -0.171214 -1.288691  1.061436 -0.040501
3    1.272727 -0.903721 -1.554133       NaN  0.200526
4    1.363636 -0.747329  1.068081 -0.277024  0.086557
..        ...       ...       ...       ...       ...
95   9.636364       NaN       NaN       NaN       NaN
96   9.727273       NaN       NaN       NaN       NaN
97   9.818182       NaN       NaN       NaN       NaN
98   9.909091       NaN       NaN       NaN       NaN
99  10.000000       NaN       NaN       NaN       NaN

[100 rows x 5 columns]

In [53]:
df.style
df.style.highlight_max(color="#BA94D1")

In [54]:
df.style.highlight_min(color="#379237")

In [55]:
df.style.highlight_null(color="#DC3535")

In [56]:
df.style.set_na_rep("OutoScope").highlight_null(color="Orange")

/tmp/ipykernel_19411/688449852.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  df.style.set_na_rep("OutoScope").highlight_null(color="Orange")

In [57]:
df.style.background_gradient()

In [58]:
df.style.set_properties(**{'border': '1px solid white', 'color': 'blue'})

In [59]:
df.style.bar(color="indigo")

In [60]:
df.style.set_precision(2)

/tmp/ipykernel_19411/573868923.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.style.set_precision(2)

In [61]:
df.style.set_caption("This is Analytics Vidhya Blog").set_precision(2).background_gradient()

/tmp/ipykernel_19411/3714675950.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.style.set_caption("This is Analytics Vidhya Blog").set_precision(2).background_gradient()

In [62]:
df.style.hide_index()

/tmp/ipykernel_19411/496160328.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df.style.hide_index()

In [63]:
df.style.format("{:.3%}")

In [64]:
df.style.format("{:.3%}", na_rep="&&")

In [65]:
def highlight_mean_greater(s):
	'''
	highlight yellow is values greater than mean else red
	'''
	is_max = s > s.mean()
	return ['background-color: yellow' if i else 'background-color: red' for i in is_max]


df.style.apply(highlight_mean_greater)

In [75]:
def color_negative_red(val):
    '''
    takes a scalar and return a str with
    the class property color:red for negative
    strings, black otherwise
    '''
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.apply(color_negative_red)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [68]:
styles = [
    dict(selector="tr:hover",
                  props=[("background", "#f4f4f4")]),
    dict(selector="th", props=[("color","#fff"),
                               ("border", "1px solid #eee"),
                               ("padding", "12px 35px"),
                               ("border-collapse", "collapse"),
                               ("background", "#000CCC"),
                               ("text-transform", "uppercase"),
                               ("font-size", "18px")
                               ]),
    dict(selector="td", props=[("color", "#999"),
                               ("border", "1px solid #eee"),
                               ("padding", "12px 35px"),
                               ("border-collapse", "collapse"),
                               ("font-size", "15px")
                               ]),
    dict(selector="table", props=[
                                    ("font-family", "arial"),
                                    ("margin", "25px auto"),
                                    ("border-collapse", "collapse"),
                                    ("border", "1px solid #eee"),
                                    ("border-bottom", "2px solid #000CCC"),
                                        ]),
    dict(selector="caption", props=[("caption-side", "bottom")])    
]

In [69]:
df.style.set_table_styles(styles).set_caption("image by author (made in pandas)").highlight_max().highlight_null(null_color="red")

/tmp/ipykernel_19411/4234390091.py:1: FutureWarning: `null_color` is deprecated: use `color` instead
  df.style.set_table_styles(styles).set_caption("image by author (made in pandas)").highlight_max().highlight_null(null_color="red")

In [74]:
df.style.set_precision(2).background_gradient().hide_index().to_excel('styled.xlsx', engine='openpyxl')

/tmp/ipykernel_19411/2507885866.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.style.set_precision(2).background_gradient().hide_index().to_excel('styled.xlsx', engine='openpyxl')
/tmp/ipykernel_19411/2507885866.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df.style.set_precision(2).background_gradient().hide_index().to_excel('styled.xlsx', engine='openpyxl')

ModuleNotFoundError: No module named 'openpyxl'