In [9]:
import pandas as pd
import numpy as np

In [10]:
np.random.seed(88)
df = pd.DataFrame({'A': np.linspace(1,10,100)})
df = pd.concat([df,pd.DataFrame(np.random.randn(10,4), columns=list('BCDE'))],axis=1)

df.iloc[3,3] = np.nan
df.iloc[0,2] = np.nan

In [11]:
print(df)

            A         B         C         D         E
0    1.000000  0.106884       NaN  0.956563  0.068411
1    1.090909  1.068514  0.997183 -0.931548  0.730430
2    1.181818 -0.171214 -1.288691  1.061436 -0.040501
3    1.272727 -0.903721 -1.554133       NaN  0.200526
4    1.363636 -0.747329  1.068081 -0.277024  0.086557
..        ...       ...       ...       ...       ...
95   9.636364       NaN       NaN       NaN       NaN
96   9.727273       NaN       NaN       NaN       NaN
97   9.818182       NaN       NaN       NaN       NaN
98   9.909091       NaN       NaN       NaN       NaN
99  10.000000       NaN       NaN       NaN       NaN

[100 rows x 5 columns]

In [22]:
df.style
df.style.highlight_max(color="#BA94D1")

In [23]:
df.style.highlight_min(color="#379237")

In [21]:
df.style.highlight_null(color="#DC3535")

In [24]:
df.style.set_na_rep("OutoScope").highlight_null(color="Orange")

/tmp/ipykernel_88863/688449852.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  df.style.set_na_rep("OutoScope").highlight_null(color="Orange")

In [25]:
df.style.background_gradient()

In [28]:
df.style.set_properties(**{'border': '1px solid white', 'color': 'blue'})

In [33]:
df.style.bar(color="indigo")

In [35]:
df.style.set_precision(2)

/tmp/ipykernel_88863/573868923.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.style.set_precision(2)